@import "./_variables.scss";
@import "./_utilities.scss";
@import "./_loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
  transition: background-color .5s ease;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.artborder {
  border: 10px;
  border-style: groove;
  border-radius: 2px;
  border-color: rgb(160, 114, 8);
  padding: 2em;
  background-color: whitesmoke;
}

.artdetails {
  height: 75dvh;
  width: auto;
}